{% extends 'layout.html' %}

{% block content %}
{% for post in posts %}
				<article class="index">
					<h1>
						<a href="{{ get_url(post.url) }}">{{ post.title }}</a>
					</h1>
					<h2 class="subheader">
						{{ post.date }}
						{% if post.tags %}&ndash;
						{% for tag in post.tags %}
						<a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a>
						{% if not loop.last %}, {% endif %}
						{% endfor %}
						{% endif %}
					</h2>
					{% if post.image %}
					<div class="postimage" style="background-image: url({{ get_asset('images/post_images/'+post.image) }})">	</div>
					{% endif %}
					<p>{{ post.excerpt }} <a href="{{ get_url(post.url) }}">Read more &raquo;</a></p>
				</article>
{% endfor %}
{% endblock %}
