		<div class="header-container">
			<header class="wrapper clearfix">
				<h1 class="title">
					<!-- {{ site.title }} &#10097;<span>&#10097; {{ site.subtitle }}</span> -->
					{{ site.title }} <i class="fa fa-quote-left"></i> {% if title %}{{ title }}{% else %}{{ site.subtitle }}{% endif %}
				</h1>
			</header>
		</div>
		<nav class="clearfix">
			<!-- <h1 class="title">{{ site.title }}</h1> -->
			<ul>
				<li><a href="{{ get_url() }}">Home</a></li>
				<li><a href="{{ get_url('Colophon') }}">Colophon</a></li>
				<li>
					<a href="#">Tags</a>
					<ul class="tags">
					{% for tag in posts.tags %}
						<li><a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a></li>
					{% endfor %}
					</ul>
				</li>
				<li><a href="{{ get_url('archives/') }}">Archives</a></li>
				<li><a href="{{ get_url('feed.xml') }}">Feed</a></li>
			</ul>
		</nav>
