{% extends 'layout.html' %}


{% set title = item.title %}

{% block breadcrumbs %}
<div class="row">
	<div class="large-12 columns">
		<nav class="breadcrumbs">
			<a href="{{ get_url() }}">Blog</a>
			<a href="#" class="current">{{ item.title|truncate(75) }}</a>
		</nav>
	</div>
</div>
{% endblock %}

{% block content %}
<article>
	<h2 class="subheader">
		{{ item.date }}
		{% if item.tags %}&ndash;
		{% for tag in item.tags %}
		<a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a>
		{% if not loop.last %}, {% endif %}
		{% endfor %}
		{% endif %}
	</h2>
	{% if item.image %}
	<div class="postimage" style="background-image: url({{ get_asset('images/post_images/'+item.image) }})">	</div>
	{% endif %}

	<div class="content">
			{{ item.content }}
	</div>
</article>
{% endblock %}
