{% extends 'layout.html' %}

{% set title = item.title %}
{% set css = item.css %}

{% block content %}
<article>
	<h2 class="subheader">
		{{ item.date }}
		{% if item.tags %}&ndash;
		{% for tag in item.tags %}
		<a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a>
		{% if not loop.last %}, {% endif %}
		{% endfor %}
		{% endif %}
	</h2>
	{% if item.image %}
	<div class="postimage" style="background-image: url({{ get_asset('images/post_images/'+item.image) }})">	</div>
	{% endif %}

	<div class="content">
			{{ item.content }}
	</div>
</article>
{% endblock %}
