// Imports
// =======

@import url("http://fonts.googleapis.com/css?family=Economica")
@import url("http://fonts.googleapis.com/css?family=Fira+Sans:400,500,400italic")
@import url("http://fonts.googleapis.com/css?family=Fira+Mono")


// Variables
// =========

// Colors

// Default
// basecolor = hsl(200, 7%, 28%)
basecolor = hsl(100, 0%, 18%)

// X-Mas
// basecolor = hsl(0, 50%, 28%)

// V-Day
// basecolor = hsl(337, 61%, 28%)

// Halloween
// basecolor = hsl(25, 75%, 28%)

basecolor-light = lighten(basecolor, 8%)

fontcolor = #ddd

// Fonts
bodyfonts = 'Fira Sans', 'Helvetica', 'Arial', sans-serif
monofonts = 'Fira Mono', 'Consolas', 'Monaco', monospace
headerfonts = 'Economica', 'Helvetica', 'Arial', sans-serif

// Functions
// =========

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-box()
  vendor('box-sizing', border-box)

text-decoration(line, style = solid, color = fontcolor)
  text-decoration line
  vendor('text-decoration-style', style)
  vendor('text-decoration-color', color)

// Common
// ======

// Global
body
  background basecolor
  color fontcolor
  font 13px/22px bodyfonts
  line-height 2.2em
  letter-spacing 1px

a
  text-decoration underline dotted #ddd
  color #fff

  &:hover
    text-decoration underline solid #ddd

dl
  dt
    font-weight bold

  dd
    border-left 3px solid lighten(basecolor, 3%)
    margin 0 0 0 20px
    padding 0 0 0 20px

img
  vertical-align middle
  display block
  margin auto

table:not(.highlighttable)
  margin 1em 0
  table-layout fixed
  width 100%

  &~table
    margin 3em 0 1em

  thead
    border-bottom 3px solid basecolor-light

  th, td
    padding 0 1em

  tbody
    tr
      &:hover
        background lighten(basecolor, 2%)

        th
          background lighten(basecolor, 4%)

      th
        text-align right

p
  &+p
    margin 2em 0 1em

  code
    background darken(basecolor, 10%)
    border-bottom 1px solid lighten(basecolor, 10%)
    padding 0 3px

::-moz-selection
  background lighten(basecolor, 20%)
  text-shadow none

::selection
  background lighten(basecolor, 20%)
  text-shadow none

#to-top
  display none

// Header
.title
  font-family headerfonts
  text-transform uppercase
  font-weight normal

  i
    color darken(fontcolor, 20%)

// Main
.wrapper
  width 90%
  margin 0 5%

.main
  h1
    a
      text-decoration none

  .postimage
    background-position center
    background-size 105%
    width 100%
    height 80px
    border 4px solid rgba(basecolor, 0.7)

    border-box()

// Code boxes
div.code
  background darken(basecolor, 10%)
  border-bottom 3px solid basecolor-light
  overflow auto

  pre
    white-space pre

  td
    padding 0 10px

    &.linenos
      background darken(basecolor, 4%)

code,
kbd,
pre,
samp
  font-family monofonts


// Footer
footer
  a
    text-decoration none

  #social

    li,
    img
      display inline


    li
      margin-right 1em


// Mobile
// ======

@media only screen

  // Header
  .header-container
    background lighten(basecolor, 5%)

  nav
    background lighten(basecolor, 5%)
    border-bottom 4px solid lighten(basecolor, 10%)

    ul
      margin 0
      padding 0

      a
        background lighten(basecolor, 10%)
        display block
        margin-bottom 10px
        padding 15px 0
        text-align center
        font-weight bold

        border-box()

      li
        ul
          display none

  // Main
  .main
    padding 30px 0

    h1
      font-family @header-font
      font-size 2em
      font-weight normal

    h2
      font-size 1em

    .index
      margin-bottom 4em

      &:nth-last-child(1)
        margin-bottom 0

  .footer-container
    background lighten(basecolor, 5%)
    border-top 4px solid lighten(basecolor, 10%)

    footer
      padding 20px 0
      text-align center

  // IE Fixes
  .ie7
    .title
      padding-top 20px


// Intermediate
// ============

@media only screen and (min-width: 480px) and (max-width: 767px)

  nav
    ul
      margin 0

      li
        a
          float left
          width 18%
          margin 0 1.2%
          padding 20px auto
          margin-bottom 0

        &:first-child
          a
            margin-left 0

        &:last-child
          a
            margin-right 0


  // IE 7 Fixes
  nav
    li
      display inline

  .oldie
    nav
      a
        margin 0 0.7%

// Desktop
// =======

@media only screen and (min-width: 768px)

  // Header
  .header-container
    background transparent

    .title
      margin 8% 0 4% 10%
      text-shadow 0 1px 1px rgba(0,0,0,0.3)

  nav
    background transparent
    float left
    padding 38px 0
    width 20%
    border-bottom none

    &.fixed
      position fixed
      top 0

    ul
      li
        display list-item

        a
          float none
          margin-left 0

          display block
          margin-bottom 10px
          padding 0 10% 0 0

          text-decoration none

          background none
          width 100%
          text-align right
          text-transform uppercase
          font-weight normal


        &:hover
          background darken(basecolor, 10%)
          box-shadow inset 0 1px 0 lighten(basecolor, 1%), inset 0 -1px 0 lighten(basecolor, 1%)

          ul
            display block
            padding-bottom 5px

            li
              background darken(basecolor, 15%)

              &:hover
                box-shadow none

  // Main
  .main-container
    border-left 1px solid lighten(basecolor, 10%)
    float right
    width 80%
    padding-right 10%

    border-box()

  .main
    article
      h1
        color white
        font-family bodyfonts
        font-size 1em
        font-weight normal
        text-transform uppercase

      p~h1
        margin-top 4em

      h2,
      h3
        border-width 1px 0
        border-color lighten(basecolor, 10%)
        border-style solid
        font-size 1em
        font-style italic
        font-weight normal

      h3
        border-width 0 0 1px 0

  article > h2
    margin-top 7px

  img
    &.right
      display inline-block
      float right

  // Footer
  .footer-container
    background transparent
    border-top none

    #social
      display inline

// @media only screen and (min-width: 1140px)

// Helper Classes
// ==============

.ir
  background-color transparent
  border 0
  overflow hidden
  *text-indent -9999px

  &:before
    content ""
    display block
    width 0
    height 150%

.hidden
  display none !important
  visibility hidden

.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.visuallyhidden.focusable
  &:active,
  &:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

.invisible
  visibility hidden

.clearfix
  *zoom 1

  &:before,
  &:after
    content " "
    display table

  &:after
    clear both

